*.swp
*.*~
.DS_Store
*.pyc
api-out/

# editors
.vs
.idea
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
artifacts
bin
obj

# ui
node_modules
project.lock.json

# logs
logs/
/src/API/aws-logger-errors.txt

# tests
.test/
/TestResults/

.nuget
.nupkg
builds
gitlab-scripts/*
gitlab-scripts

*.test-result*.xml
test-results/
